*
!/.gitignore
!/plugins.code-workspace
!/index.php
!/ARCHITECTURE.md

!/ctlawhelp-interactive-guides/
!/ctlawhelp-interactive-guides/**

!/ctlawhelp-legal-aid-articles/
!/ctlawhelp-legal-aid-articles/**

!/ctlawhelp-conditional-fields/
!/ctlawhelp-conditional-fields/**

!/ctlawhelp-menu-icons/
!/ctlawhelp-menu-icons/**

!/ctlawhelp-nsmi-landing/
!/ctlawhelp-nsmi-landing/**

!/ctlawhelp-permalinks/
!/ctlawhelp-permalinks/**

!/ctlawhelp-sidebars/
!/ctlawhelp-sidebars/**

!/ctlawhelp-snippets/
!/ctlawhelp-snippets/**

!/ctlawhelp-tax-breadcrumbs/
!/ctlawhelp-tax-breadcrumbs/**

!/ctlawhelp-tax-breadcrumbs-drupal/
!/ctlawhelp-tax-breadcrumbs-drupal/**

!/ctlawhelp-pii-masker/
!/ctlawhelp-pii-masker/**

!ctlawhelp-section-prototype/
!ctlawhelp-section-prototype/**