*
!/.gitignore
!/plugins.code-workspace
!/index.php

!/ctlawhelp-interactive-guides/
!/ctlawhelp-interactive-guides/**

!/legal-aid-articles/
!/legal-aid-articles/**
!/legal-aid-conditional-fields/
!/legal-aid-conditional-fields/**
!/legal-aid-menu-icons/
!/legal-aid-menu-icons/**
!/legal-aid-nsmi-landing/
!/legal-aid-nsmi-landing/**
!/legal-aid-permalinks/
!/legal-aid-permalinks/**
!/legal-aid-sidebars/
!/legal-aid-sidebars/**
!/legal-aid-snippets/
!/legal-aid-snippets/**
!/legal-aid-tax-bread/
!/legal-aid-tax-bread/**
!/legal-aid-tax-bread-drupal-breadcrumbs/
!/legal-aid-tax-bread-drupal-breadcrumbs/**
!/pii-masker/
!/pii-masker/**